.teams-container{
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
}

.team-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 25%;
    width: 25%;
    padding: 5px;
    cursor: pointer;
}

