<div class="title">
    <span>{{leagueData?.name}}</span>
</div>
<div class="teams-container">
    <a class="team-item" *ngFor="let team of teams" [routerLink]="['/teams', team._id]" >
        <img [src]="team.thumbnail" width="200px">
    </a>
</div>

<div class="error-container" *ngIf="teams?.length === 0">
    there is no teams found for {{leagueData?.name}}
</div>