<form class="search_content" autocomplete="off">
  <div class="wrapper">
    <div class="search_bar" [class]="suggestionLeaguesList.length > 0 ? 'focus' : ' '">
      <div class="search_icon">
        <svg fill="#8395B3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px">
          <path
            d="M 9 2 C 5.1458514 2 2 5.1458514 2 9 C 2 12.854149 5.1458514 16 9 16 C 10.747998 16 12.345009 15.348024 13.574219 14.28125 L 14 14.707031 L 14 16 L 19.585938 21.585938 C 20.137937 22.137937 21.033938 22.137938 21.585938 21.585938 C 22.137938 21.033938 22.137938 20.137938 21.585938 19.585938 L 16 14 L 14.707031 14 L 14.28125 13.574219 C 15.348024 12.345009 16 10.747998 16 9 C 16 5.1458514 12.854149 2 9 2 z M 9 4 C 11.773268 4 14 6.2267316 14 9 C 14 11.773268 11.773268 14 9 14 C 6.2267316 14 4 11.773268 4 9 C 4 6.2267316 6.2267316 4 9 4 z" />
        </svg>
      </div>
      <input id="search" type="text" autocomplete="off" [(ngModel)]="searchQuery" (ngModelChange)="searchForLeague()"
        name="search">
      <div class="search_close">
        <div *ngIf="searchQuery" (click)="clearSearchBox()">
          <svg focusable="false" fill="#8395B3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px"
            height="24px">
            <path
              d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
            </path>
          </svg>
        </div>
      </div>
    </div>
    <!-------        autocomplete block    --------->
    <ul class="search_results" [class]="suggestionLeaguesList.length > 0 ? 'open' : ' '"
      *ngIf="suggestionLeaguesList.length > 0">
      <li *ngFor="let suggestionLeague of suggestionLeaguesList" class="result"
        (click)="navigateToLeague(suggestionLeague)">
        <div class="search_icon">
          <svg fill="#8395B3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px">
            <path
              d="M 9 2 C 5.1458514 2 2 5.1458514 2 9 C 2 12.854149 5.1458514 16 9 16 C 10.747998 16 12.345009 15.348024 13.574219 14.28125 L 14 14.707031 L 14 16 L 19.585938 21.585938 C 20.137937 22.137937 21.033938 22.137938 21.585938 21.585938 C 22.137938 21.033938 22.137938 20.137938 21.585938 19.585938 L 16 14 L 14.707031 14 L 14.28125 13.574219 C 15.348024 12.345009 16 10.747998 16 9 C 16 5.1458514 12.854149 2 9 2 z M 9 4 C 11.773268 4 14 6.2267316 14 9 C 14 11.773268 11.773268 14 9 14 C 6.2267316 14 4 11.773268 4 9 C 4 6.2267316 6.2267316 4 9 4 z">
            </path>
          </svg>
        </div>
        <div class="result_text">
          <p fdj-Highlight [content]="suggestionLeague.name" [searchTerm]="searchQuery" class="name">
            {{suggestionLeague.name}}</p>
        </div>
      </li>
    </ul>

  </div>
</form>