/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}
html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    font-size: 16px;
    font-family: 'Roboto';
    line-height: 1;
}

a {
    text-decoration: none;
}

.error-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-highlight {
    color: black;
  }

  .title {
    padding: 20px;
    display: flex;
    align-items: center;
    span {
        font-weight: bold;
        font-size: 30px;
    }
    p {
        font-weight: bold;
        font-size: 30px;
    }
    img {
        margin-right: 25px;
    }
}