<div class="title">
    <img [src]="teamData?.thumbnail" width="50px">
    <span>{{teamData?.name}}</span>
</div>
<div class="team-container">
    <a class="player-item" *ngFor="let player of players">
        <div class="player-block">
        <img [src]="player?.thumbnail" width="200px">
        <div class="player-info">
            <p><span class="key">{{player?.name}}</span></p>
            <p><span class="key">{{player?.position}}</span></p>
            <p><span class="key">Birth date :</span> <span> {{player?.born | date: 'dd/MM/yyyy'}}</span></p>
            <p><span class="key"> Price:</span> <span *ngIf="player?.signin.amount > 0"> {{player?.signin.amount | shortNumber }} {{player?.signin.currency }}</span>
                <span *ngIf="player?.signin.amount === 0">Free</span>
            </p>
        </div>
    </div>
    </a>
</div>

<div class="error-container" *ngIf="players?.length === 0">
    there is no players found for  {{teamData?.name}}
</div>