.team-container{
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
}

.player-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 25%;
    width: 25%;
    padding: 30px;
    cursor: pointer;
}

.player-block {
    background-color: #e8f0fe;
    box-shadow: 0 12px 20px 0 rgba(131, 149, 179, 0.28);
    font-size: 14px;
}

.player-info {
    padding: 5px;
}

.title {
    padding: 20px;
    display: flex;
    align-items: center;
    span {
        font-weight: bold;
        font-size: 30px;
    }
    img {
        margin-right: 25px;
    }
}

.key {
    font-weight: bold;
}

p {
    margin: 2px 0;
}